@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* If we no longer want to use our Monokai theme, we can head over to https://github.com/cosscom/coss/blob/main/apps/origin/app/globals.css and grab their theme. */

/* Monokai */
:root {
  --radius: 0.625rem;
  --background: oklch(98.37% 0.007 88.07);
  --foreground: oklch(29.24% 0.005 84.51);
  --card: oklch(98.37% 0.007 88.07);
  --card-foreground: oklch(29.24% 0.005 84.51);
  --popover: oklch(98.37% 0.007 88.07);
  --popover-foreground: oklch(29.24% 0.005 84.51);
  --primary: oklch(29.24% 0.005 84.51);
  --primary-foreground: oklch(98.37% 0.007 88.07);
  --secondary: oklch(95.04% 0.008 84.51);
  --secondary-foreground: oklch(29.24% 0.005 84.51);
  --muted: oklch(95.04% 0.008 84.51);
  --muted-foreground: oklch(53.25% 0.021 84.51);
  --accent: oklch(95.04% 0.008 84.51);
  --accent-foreground: oklch(29.24% 0.005 84.51);
  --destructive: oklch(60.19% 0.177 15.6);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(92.42% 0.008 84.51);
  --input: oklch(90.96% 0.009 84.51);
  --ring: oklch(86.82% 0.008 84.51);
  --chart-1: oklch(29.24% 0.005 84.51);
  --chart-2: oklch(53.25% 0.021 84.51);
  --chart-3: oklch(69.87% 0.03 84.51);
  --chart-4: oklch(81.25% 0.017 84.51);
  --chart-5: oklch(92.42% 0.008 84.51);
  --sidebar: oklch(98.37% 0.007 88.07);
  --sidebar-foreground: oklch(29.24% 0.005 84.51);
  --sidebar-primary: oklch(29.24% 0.005 84.51);
  --sidebar-primary-foreground: oklch(98.37% 0.007 88.07);
  --sidebar-accent: oklch(95.04% 0.008 84.51);
  --sidebar-accent-foreground: oklch(29.24% 0.005 84.51);
  --sidebar-border: oklch(92.42% 0.008 84.51);
  --sidebar-ring: oklch(86.82% 0.008 84.51);
}

/* Monokai dark */
.dark {
  --background: oklch(29.5% 0.006 84.51);
  --foreground: oklch(98% 0.008 84.51);
  --card: oklch(29.5% 0.006 84.51);
  --card-foreground: oklch(98% 0.008 84.51);
  --popover: oklch(29.5% 0.006 84.51);
  --popover-foreground: oklch(98% 0.008 84.51);
  --primary: oklch(98% 0.008 84.51);
  --primary-foreground: oklch(24% 0.006 84.51);
  --secondary: oklch(40% 0.012 84.51);
  --secondary-foreground: oklch(98% 0.008 84.51);
  --muted: oklch(35% 0.008 84.51);
  --muted-foreground: oklch(72% 0.02 84.51);
  --accent: oklch(34% 0.007 84.51);
  --accent-foreground: oklch(98% 0.008 84.51);
  --destructive: oklch(63% 0.25 29.23);
  --destructive-foreground: oklch(24% 0.006 84.51);
  --border: oklch(44% 0.012 84.51);
  --input: oklch(40% 0.012 84.51);
  --ring: oklch(48% 0.012 84.51);
  --chart-1: oklch(98% 0.008 84.51);
  --chart-2: oklch(72% 0.02 84.51);
  --chart-3: oklch(58% 0.02 84.51);
  --chart-4: oklch(48% 0.015 84.51);
  --chart-5: oklch(40% 0.012 84.51);
  --sidebar: oklch(27% 0.006 84.51);
  --sidebar-foreground: oklch(98% 0.008 84.51);
  --sidebar-primary: oklch(98% 0.008 84.51);
  --sidebar-primary-foreground: oklch(24% 0.006 84.51);
  --sidebar-accent: oklch(34% 0.007 84.51);
  --sidebar-accent-foreground: oklch(98% 0.008 84.51);
  --sidebar-border: oklch(44% 0.012 84.51);
  --sidebar-ring: oklch(48% 0.012 84.51);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  pre::-webkit-scrollbar {
    width: 5px;
  }
  pre::-webkit-scrollbar-track {
    background: transparent;
  }
  pre::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  pre {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  ::selection {
    @apply bg-accent text-accent-foreground;
  }
}
